@import 'variables.scss';

.audio-track-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	.audio-track-overlay {
		width: 100%;
		height: 100%;
		cursor: copy;
	}

	.audio-track-element {
		position: absolute;
		transform: translate(-50%, -50%);
		.audio-track-element-trigger {
			width: 25px;
			height: 25px;
			border-radius: 50%;
	    background: rgba(255, 200, 0, 0.8);
	    border: double 4px #ff0;
	    cursor: pointer;
		}
	}
}

.audio-track-element-popup {
	background: $dark-grey-blue;
	border-radius: 100px;
	border: 0 none;
	.arrow {
		&:before {
    	border-top-color: $dark-grey-blue !important;
		}
		&:after {
			border-top-color: $dark-grey-blue !important;
		}
	}
	.audio-track-element-actions {
		position: absolute;
		bottom: 100%;
		right: 0;
		[class^="audio-track-element-action-"] {
			margin-left: 0.5rem;
			margin-bottom: 0.5rem;
			cursor: pointer;
			font-size: 10px;
			letter-spacing: 0.4px;
			color: #ffffff;
			border-radius: 100px;
			padding: 3px 15px 4px;
		}
		.audio-track-element-action-cancel {
			background: #9b9b9b;
			&:hover {
				background: darken(#9b9b9b, 5%);
			}
		}
		.audio-track-element-action-delete {
			background: #ff3535;
			&:hover {
				background: darken(#ff3535, 5%);
			}
		}
		.audio-track-element-action-save {
			background: $turquoise;
			&:hover {
				background: darken($turquoise, 5%);
			}
		}
	}
	.audio-track-element-player {
		width: 200px;
		padding: 6px 28px 6px 8px;
		display: flex;
		align-items: center;
		.audio-track-element-player-bar-container {
			position: relative;
			flex: 1 0;
			margin-left: 0.5rem;
			margin-bottom: 4px;
			.audio-track-element-player-bar-wrapper {
				background: #ffffff;
				height: 2px;
				width: 100%;
				.audio-track-element-player-bar {
					height: 2px;
					background: #617a90;
				}
			}
			.audio-track-element-player-bar-length {
				position: absolute;
				top: 100%;
				right: 0;
				margin-top: 5px;
				font-size: 10px;
				letter-spacing: 0.4px;
				color: #ffffff;
			}
		}
		.audio-track-element-player-action {
			border-radius: 50%;
			cursor: pointer;
		}
	}
}