@import 'variables.scss';

html {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}
body {
	font-family: inherit;
	font-size: inherit;
	background: $pale-grey;
	padding-top: 72px;
}

.content {
}

.section {
	margin-top: 3rem;
}