@import 'variables.scss';

html {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	height: 100%;
}
body {
	font-family: inherit;
	font-size: inherit;
	background: $pale-grey;
	padding-top: 72px;
	height: 100%;
	div#root {
		height: 100%;
		.wrapper {
			height: 100%;
			.content {
				height: 100%;
			}
		}
	}
}

.section {
	margin-top: 3rem;
}

.brand-letter {
	font-size: 50px;
	font-weight: 900;
	letter-spacing: 1.1px;
	color: #000000;
}