@import 'variables.scss';

.home-wrapper {
	font-size: 1.25rem;
	overflow: hidden;

	.section {
		padding: 8rem 0 0;
		min-height: 420px;
		.section-title {
			font-size: 30px;
			font-weight: bold;
			letter-spacing: 0.7px;
			color: #000;
			margin-bottom: 1.5rem;
		}
		.section-sub-title {
			font-size: 25px;
			font-weight: 600;
			letter-spacing: 0.6px;
			color: #000000;
			margin-bottom: 2.5rem;
		}
		.section-description {
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0.4px;
			color: #4a4a4a;
			margin-bottom: 2.5rem;
		}
		.section-sub-description {
			font-size: 15px;
			font-weight: 300;
			line-height: 22.0px;
			letter-spacing: 0.4px;
			color: #4a4a4a;
		}
		.icon-sets {
			display: flex;
			align-items: center;
			justify-content: center;
			i {
				display: flex;
				width: 52px;
				height: 52px;
				align-items: center;
				justify-content: center;
				color: #fff;
				font-size: 28px;
				line-height: 52px;
				text-align: center;
				border-radius: 50%;
				margin: 1.5rem 2rem;
			}
		}
		.notification-list {
			margin-bottom: 8rem;
			.notification {
				background: #fff;
				border-radius: 2px;
				font-size: 12px;
				display: flex;
				padding: 1.25rem;
				align-items: center;
				width: 360px;
				margin-top: 3rem;
				margin-bottom: 3rem;
				box-shadow: none;
				.profile {
					.profile-img {
						width: 42px;
						height: 42px;
						border-radius: 50%;
						font-size: 22px;
						text-align: center;
						line-height: 42px;
					}
				}
				.description {
					margin: 0 1.5rem;
					line-height: 1.2;
					.description-content {
						font-size: 12px;
						font-weight: 300;
						letter-spacing: 0.5px;
						color: #000000;
					}
					.description-time {
						font-size: 12px;
						font-weight: 300;
						letter-spacing: 0.5px;
						color: #9b9b9b;
					}
				}
				.action {
					flex: 1 0 26px;
					i {
						display: block;
					}
				}
			}
		}
		.btn-signup {
			padding: 14px 64px;
			font-size: 20px;
			font-weight: 400;
			letter-spacing: 0.2px;
			color: #ffffff;
		}
		.view-sample-resume {
			font-size: 12px;
			font-weight: 900;
			letter-spacing: 0.5px;
			color: $turquoise;
			span {
				line-height: 24px;
				display: inline-block;
				vertical-align: top;
			}
		}
		.plan-wrapper {
			width: 330px;
			margin: 6rem auto;
			.plan-box {
				border: solid 3px $turquoise;
				border-radius: 2px;
				background: #fff;
				padding: 19px;
				.price-label {
					font-size: 20px;
					font-weight: 500;
					letter-spacing: 0.2px;
					color: #000000;
					margin-bottom: 1rem;
				}
				.price-control {
					margin: 2rem 4rem;
					border-bottom: solid 2px $turquoise;
					display: flex;
					align-items: center;
					justify-content: space-between;
					.quantity {	
						font-size: 90px;
						font-weight: 600;
						letter-spacing: 0.7px;
						color: #4a4a4a;
					}
				}
				.plan-services {
					.plan-service {
						font-size: 15px;
						font-weight: 300;
						line-height: 30px;
						letter-spacing: 0.1px;
						color: #000000;
						margin: 1rem 0;
					}
				}
			}
			.get-started {
				color: #fff;
				font-size: 15px;
				font-weight: 600;
				letter-spacing: 0.1px;
				padding: 23px;
				display: block;
				background: $turquoise;
				margin-top: 0.5rem;
				&:hover {
					color: #fff;
					text-decoration: none;
					background: darken($turquoise, 5%);
				}
			}
		}
	}

	.landing-1-marker {
		position: relative;
		display: inline-block;
		.landing-cursor1 {
			position: absolute;
			left: 50%;
			top: 7%;
		}
		.landing-player1 {
			position: absolute;
			left: 50%;
			top: 7%;
			margin-left: 70px;
			margin-top: -35px;
		}
	}

	.landing-3-marker {
		font-size: 40px;
		font-weight: bold;
		letter-spacing: 0.4px;
		color: #000000;
		display: inline-block;
		position: relative;
		.landing-cursor2 {
			position: absolute;
	    right: -43px;
	    top: 10px;
		}
		.landing-player2 {
			position: absolute;
			bottom: 100%;
    	right: -130px;
		}
	}

	.section#pricing {
		position: relative;
		margin: 8rem 0;
		&:before {
	    background: $dark-grey-blue;
	    content: '';
	    display: block;
	    position: absolute;
	    left: 0;
	    top: -200px;
	    border-radius: 15px;
	    width: 350px;
	    height: 350px;
	    transform: skew(-15deg, -21deg) rotate(-60deg) translate(-150px, -200px);
	    z-index: -1;
		}
		&:after {
			background: $dark-grey-blue;
	    content: '';
	    display: block;
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    border-radius: 15px;
	    width: 300px;
	    height: 300px;
	    transform: skew(-35deg) translateX(220px);
	    z-index: -1;
		}
	}

	.section.angled-edge {
		padding-top: 10rem;
		padding-bottom: 10rem;
  	clip-path: polygon(0 0, 100% 8rem, 100% 100%, 0 calc(100% - 8rem));
	}

	.section.footer-section {
		border-top: solid 1px #b1bfcd;
		margin-top: 0;
		padding: 1rem 0 0;
		min-height: auto;

		font-size: 15px;
		font-weight: 300;
		letter-spacing: 0.1px;
		color: #000000;

		.footer-brand {
			font-family: Lato;
			font-size: 50px;
			font-weight: 900;
			letter-spacing: 0.2px;
			color: #000000;
		}
		a {
			color: #000;
			margin: 0 2rem;
			&:hover {
				color: #4a4a4a;
				text-decoration: none;
			}
		}

		i {
			margin: 0 4rem;
			font-size: 28px;
		}
	}

	.section.bottom-offer-section {
		position: relative;
		.bg-shapes-wrapper {
			position: absolute;
			left: 50%;
			top: 0;
			width: 100%;
			height: 100%;
			transform: translateX(-50%);
		}
		.bp1-group2 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 195px;
		  height              : 36px;
		  width               : 36px;
		  position            : absolute;
		  margin              : 0;
		  left                : 1587px;
		  -ms-transform       : rotate(-334deg); /* IE 9 */
		  -webkit-transform   : rotate(-334deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-334deg);
		  opacity             : 0.96;
		}
		.bp1-image2 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 11px;
		  height              : 36px;
		  width               : 36px;
		  position            : absolute;
		  margin              : 0;
		  left                : 1071px;
		  -ms-transform       : rotate(-280deg); /* IE 9 */
		  -webkit-transform   : rotate(-280deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-280deg);
		}
		.bp1-image3 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 297px;
		  height              : 36px;
		  width               : 36px;
		  position            : absolute;
		  margin              : 0;
		  left                : 463px;
		  -ms-transform       : rotate(-130deg); /* IE 9 */
		  -webkit-transform   : rotate(-130deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-130deg);
		  opacity             : 0.89;
		}
		.bp1-rectangle8 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 300px;
		  height              : 22px;
		  width               : 22px;
		  position            : absolute;
		  margin              : 0;
		  left                : 1390px;
		  -ms-transform       : rotate(-202deg); /* IE 9 */
		  -webkit-transform   : rotate(-202deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-202deg);
		  opacity             : 0.92;
		}
		.bp1-image4 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 22px;
		  height              : 22px;
		  width               : 22px;
		  position            : absolute;
		  margin              : 0;
		  left                : 1344px;
		  -ms-transform       : rotate(-246deg); /* IE 9 */
		  -webkit-transform   : rotate(-246deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-246deg);
		  opacity             : 0.71;
		}
		.bp1-image5 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 314px;
		  height              : 22px;
		  width               : 22px;
		  position            : absolute;
		  margin              : 0;
		  left                : 932px;
		  -ms-transform       : rotate(-142deg); /* IE 9 */
		  -webkit-transform   : rotate(-142deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-142deg);
		  opacity             : 0.91;
		}
		.bp1-image6 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 236px;
		  height              : 22px;
		  width               : 22px;
		  position            : absolute;
		  margin              : 0;
		  left                : 768px;
		  -ms-transform       : rotate(-262deg); /* IE 9 */
		  -webkit-transform   : rotate(-262deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-262deg);
		  opacity             : 0.89;
		}
		.bp1-image7 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 156px;
		  height              : 22px;
		  width               : 22px;
		  position            : absolute;
		  margin              : 0;
		  left                : 305px;
		  -ms-transform       : rotate(-267deg); /* IE 9 */
		  -webkit-transform   : rotate(-267deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-267deg);
		  opacity             : 0.88;
		}
		.bp1-image8 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 81px;
		  height              : 22px;
		  width               : 22px;
		  position            : absolute;
		  margin              : 0;
		  left                : 479px;
		  -ms-transform       : rotate(-244deg); /* IE 9 */
		  -webkit-transform   : rotate(-244deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-244deg);
		  opacity             : 0.81;
		}
		.bp1-oval2 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 165px;
		  height              : 18px;
		  width               : 18px;
		  position            : absolute;
		  margin              : 0;
		  left                : 1203px;
		  -ms-transform       : rotate(-322deg); /* IE 9 */
		  -webkit-transform   : rotate(-322deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-322deg);
		  opacity             : 0.97;
		}
		.bp1-image9 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 102px;
		  height              : 18px;
		  width               : 18px;
		  position            : absolute;
		  margin              : 0;
		  left                : 1432px;
		  -ms-transform       : rotate(-163deg); /* IE 9 */
		  -webkit-transform   : rotate(-163deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-163deg);
		  opacity             : 0.87;
		}
		.bp1-path5 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 78px;
		  height              : 12px;
		  width               : 43px;
		  position            : absolute;
		  margin              : 0;
		  left                : 685px;
		  -ms-transform       : rotate(-159deg); /* IE 9 */
		  -webkit-transform   : rotate(-159deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-159deg);
		  opacity             : 0.76;
		}
		.bp1-image10 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 298px;
		  height              : 12px;
		  width               : 43px;
		  position            : absolute;
		  margin              : 0;
		  left                : 1155px;
		  -ms-transform       : rotate(-159deg); /* IE 9 */
		  -webkit-transform   : rotate(-159deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-159deg);
		  opacity             : 0.76;
		}
		.bp1-image11 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 378px;
		  height              : 12px;
		  width               : 43px;
		  position            : absolute;
		  margin              : 0;
		  left                : 685px;
		  -ms-transform       : rotate(-159deg); /* IE 9 */
		  -webkit-transform   : rotate(-159deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-159deg);
		  opacity             : 0.76;
		}
		.bp1-image12 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 218px;
		  height              : 12px;
		  width               : 43px;
		  position            : absolute;
		  margin              : 0;
		  left                : 507px;
		  -ms-transform       : rotate(-233deg); /* IE 9 */
		  -webkit-transform   : rotate(-233deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-233deg);
		  opacity             : 0.7;
		}
		.bp1-image13 {
		  background          : rgba(255, 255, 255, 0.0);
		  top                 : 26px;
		  height              : 12px;
		  width               : 43px;
		  position            : absolute;
		  margin              : 0;
		  left                : 231px;
		  -ms-transform       : rotate(-188deg); /* IE 9 */
		  -webkit-transform   : rotate(-188deg); /* Chrome, Safari, Opera */
		  transform           : rotate(-188deg);
		  opacity             : 0.86;
		}
	}

	.btn {
		font-size: 15px;
		font-weight: 300;
		letter-spacing: 0.3px;
		padding: 16px 39px;
		border-radius: 2px;
	}

	.btn-dark-grey-blue {
		color: #fff;
		background: $dark-grey-blue;
		&:hover {
			background: darken($dark-grey-blue, 5%);
		}
	}
}

.public-wrapper {
	.dd-title {
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 0.4px;
		color: #000000;
		margin-bottom: 24px;
	}
	.dd-description {
		font-size: 18px;
		letter-spacing: 0.4px;
		color: #000000;
		margin-bottom: 32px;
	}
}

@media (min-width: 992px) {
	.home-wrapper {
		.section#features {
			 margin-top: -200px;
		}
		.icon-sets {
			flex-direction: column;
		}
	}
}

@media (max-width: 991px) {
	.home-wrapper {
		.notification-list {
			.notification {
				left: 0 !important;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.icon-sets {
			padding: 3rem 0;
		}
	}
}

@media (max-width: 767px) {
	.home-wrapper .landing-1-marker {
		display: none;
	}
}