@import 'variables.scss';

.profile-container {
	padding: 3rem;

	h2 {
		font-size: 25px;
		font-weight: 600;
		letter-spacing: 0;
		color: #000000;
	}

	.profile-img-upload {
		display: flex;
		align-items: center;
		.profile-img {
			flex: 0 0 92px;
			margin-right: 2rem;
			cursor: pointer;
			border-radius: 50%;
			overflow: hidden;
			img {
				width: 92px;
				height: 92px;
				display: block;
    		object-fit: cover;
			}
		}
		.profile-img-upload-link {
			a {
				display: block;
				position: relative;
				cursor: pointer;
				input {
					opacity: 0;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					display: flex;
					z-index: 99;
					&:before {
						content: '';
						display: block;
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
					}
				}
				span {
					text-decoration: underline;
					font-size: 15px;
					letter-spacing: 0.4px;
					color: $azure;
				}
			}
		}
	}

	label {
		font-size: 18px;
		letter-spacing: 0;
		color: #4a4a4a;
		margin: 1.5rem 0;
	}

	input[type=text], input[type=password], input[type=email] {
		font-size: 18px;
		letter-spacing: 0;
		color: #000000;

		border-radius: 5px;
		background-color: #ffffff;
		border: solid 1px #b1bfcd;

		padding: 18px 24px;

		&:disabled {
			background: transparent;
		}
	}

	hr {
    border-top-style: dashed;
	}

	.account-delete-container {
		span {
			font-size: 18px;
			letter-spacing: 0;
			text-align: left;
			color: #4a4a4a;
		}
		button {
			border-radius: 2px;
			font-size: 20px;
			letter-spacing: 0;
			color: #ffffff;
			padding: 17px 50px;
			background: $grapefruit;
			&:hover {
				color: #fff;
				background: darken($grapefruit, 5%);
			}
			&:focus, &:active {
				outline: 0 none;
				box-shadow: none;
			}
		}
	}
	

	.btn-change-password, .btn-update-profile {
		font-size: 20px;
		letter-spacing: 0;
		color: $turquoise;
		text-decoration: underline;
		cursor: pointer;
	}

}

.modal-verify-credentials {

	max-width: 440px;
	margin-top: 140px;
	.modal-content {
		border-radius: 0;
		background: transparent;
		border: 0 none;
	}
	.modal-verify-credentials-content {
		border-radius: 4px;
		background-color: #ffffff;
		border: solid 3px $dark-grey-blue;
		padding: 4rem;
		text-align: center;

		.modal-verify-credentials-title {
			font-size: 18px;
			letter-spacing: 0;
			color: #000000;
		}

		.input-verify-password {
			font-size: 13px;
			letter-spacing: 0;
			color: #4a4a4a;

			border-radius: 2px;
			border: solid 1px #b1becd;

			padding: 19px 20px;

			margin: 53px 0;
		}
		.btn-verify-credentials {

			font-size: 15px;
			font-weight: 500;
			letter-spacing: 0;
			color: #ffffff;
			padding: 13px 43px;
			border-radius: 2px;
			background: $turquoise;
			&:hover {
				background: darken($turquoise, 5%);
			}
			&:focus, &:active {
				outline: 0 none;
				box-shadow: none;
			}
		}
	}
}


.modal-confirm-delete-account {

	max-width: 440px;
	margin-top: 140px;
	.modal-content {
		border-radius: 0;
		background: transparent;
		border: 0 none;
	}
	.modal-confirm-delete-content {
		border-radius: 4px;
		background-color: #ffffff;
		padding: 4rem;
		text-align: center;

		.input-confirm-delete {
			font-size: 13px;
			letter-spacing: 0;
			color: #4a4a4a;

			border-radius: 2px;
			border: solid 1px #b1becd;

			padding: 19px 20px;

			margin: 41px 0;
		}
		.btn-confirm-delete {

			font-size: 15px;
			font-weight: 500;
			letter-spacing: 0;
			color: #ffffff;
			padding: 13px 16px;
			border-radius: 2px;
			background: #ff3636;
			text-transform: uppercase;
			&:hover {
				background: darken(#ff3636, 5%);
			}
			&:focus, &:active {
				outline: 0 none;
				box-shadow: none;
			}
		}
	}
}