@import 'variables.scss';

.resume-container {
	padding-top: 3rem;
	display: flex;
	justify-content: space-evenly;
	position: relative;
	.resume-wrapper {
		.ReactPDF__Loader, .ReactPDF__Error {
			text-align: center;
		}
	}
	.resume-builder {
    position: absolute;
    left: 1rem;
    z-index: 9;
		.resume-builder-icons {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin-top: 3rem;
			position: fixed;
			&>div, &>a {
				margin: 1.5rem 2rem;
				cursor: pointer;
				border-radius: 50%;
				overflow: hidden;
				i {
					display: flex;
					width: 42px;
					height: 42px;
					align-items: center;
					justify-content: center;
					color: #fff;
					font-size: 28px;
					line-height: 52px;
					text-align: center;
					img {
						width: 22px;
						height: 22px;
					}
				}
			}
		}
	}
}

.resume-pages-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 4rem 0;
	position: relative;
	.resume-page {
		margin-bottom: 4rem;
		box-shadow: 0 2px 4px 0 #efefef;
	}
}