@import 'variables.scss';

.bg-dark-grey-blue {
	background-color: $dark-grey-blue !important;
}

.white-text {
	color: #fff !important;
}

.bg-duck-egg-blue {
	background-color: $duck-egg-blue !important;
}

a {
	transition: color,background 0.15s ease;
}


img {
	max-width: 100%;
}

.btn {
	cursor: pointer;
}

.font-normal {
	font-size: 15px;
}

.font-20 {
	font-size: 20px;
}
.font-18 {
	font-size: 18px;
}
.font-13 {
	font-size: 13px;
}
.font-12 {
	font-size: 12px;
}
.font-15 {
	font-size: 15px;
}
.font-30 {
	font-size: 30px;
}

.letter-spacing-0 {
	letter-spacing: 0;
}
.letter-spacing-2  {
	letter-spacing: 0.2px;
}
.letter-spacing-3  {
	letter-spacing: 0.3px;
}
.letter-spacing-4 {
	letter-spacing: 0.4px;
}
.letter-spacing-6 {
	letter-spacing: 0.6px;
}
.letter-spacing-7 {
	letter-spacing: 0.7px;
}

.muted-text {
	color: #9b9b9b !important;
}

.black-text {
	color: #000 !important;
}

.weight-300 {
	font-weight: 300 !important;
}
.weight-600 {
	font-weight: 600 !important;
}
.weight-bold {
	font-weight: bold !important;
}
.weight-900 {
	font-weight: 900 !important;
}

.line-height-16 {
	line-height: 16px;
}

.display-none {
	display: none;
}