@import 'variables.scss';

.bg-dark-grey-blue {
	background-color: $dark-grey-blue !important;
}

.white-text {
	color: #fff !important;
}

.bg-duck-egg-blue {
	background-color: $duck-egg-blue !important;
}

a {
	transition: color,background 0.15s ease;
}


img {
	max-width: 100%;
}

.btn {
	cursor: pointer;
}

.font-normal {
	font-size: 15px;
}

.letter-spacing-4 {
	letter-spacing: 0.4px;
}

.letter-spacing-3  {
	letter-spacing: 0.3px;
}